body{background-image: url(../images/bg-intro-desktop.png); 
     background-repeat: no-repeat;
     background-size: cover;
     background-color:hsl(0, 100%, 74%)}

.full_body{ margin-left: 120px;
            margin-top: 75px;
            color: #fff;}

.full_body .left_section{ margin-top: 170px;
                          padding-left: 20px;}

.full_body .left_section h1{font-size: 55px;}

.full_body .left_section p{ font-size: 18px; 
                            color: hsl(246, 34%, 95%);
                            margin-top: 30px;}

.full_body .right_section{  margin-top: 20px;
                            margin-left: -20px;}

.full_body .right_section button{background-color: hsl(248, 32%, 49%); 
                                    color: #fff;
                                    border: none;
                                    border-radius: 10px;
                                    width: 91%;
                                    padding: 10px;
                                    box-shadow: 1px 5px #8e8d8d96;
                                    font-size: 15px;}

.full_body .right_section button span{color: #dedede;}

.full_body .right_section form{background-color: #fff;
                                margin-top: 25px;
                                width: 91%;
                                border-radius: 10px;
                                padding: 40px;
                                box-shadow: 1px 5px #8e8d8d96
}

.full_body .right_section input[type=text],
.full_body .right_section input[type=email] , 
.full_body .right_section input[type=password],
.full_body .right_section input[type=submit]{ margin-bottom: 17px;
                                                margin-top: 35px;
                                                width: 100%;
                                                border-radius: 5px;
                                                border: 1px solid #e6e4e4;
                                                padding: 7px 25px;}

.full_body .right_section .claim {background-color:  hsl(154, 59%, 51%);
                                                color: #fff;
                                                text-transform: uppercase;
                                                font-weight: 500;
                                                width: 100%;
                                                box-shadow: none;
                                                padding: 10px;}
.full_body .right_section p{color: #d2d1db;
                            margin-top: 15px;
                            font-size: 12px;
                            text-align: center;}

.full_body .right_section .terms{color:hsl(0, 90%, 76%);
                                font-weight: bold;}

.attribution { font-size: 14px; 
                text-align: center;
                margin-top: 35px;}
   
.attribution a { color: hsl(0, 86%, 21%); }

@media (max-width: 992px){
    body{background-image: url(../images/bg-intro-mobile.png); 
     background-repeat: no-repeat;
     background-size: cover;
     background-color:hsl(0, 100%, 74%)}
    
    .full_body{ margin-left: 0;
                text-align: center}
    
    .full_body .left_section { margin-top: 0;}
    
    .full_body .left_section h1 { font-size: 33px;}
    
    .full_body .left_section p {font-size: 15px;
                                margin-top: 16px;}
    
    .full_body .right_section{margin-left: 0;
                              margin-top: 35px;}
    
    .full_body .right_section form{    margin-left: 20px;}
    
    .full_body .right_section p{font-size: 14px}
}